body{
    font-family: 'Indie Flower', cursive;
    background: black; color: #ffef45;
    height: 99vh;
    overflow: hidden;
}
span, i{
    font-family: 'Indie Flower', cursive;
}
button{ outline: 0; background-color: transparent; border: 0;color: #ffef45;}

button:active{ outline: 0}

.guesses{
    position: fixed;
    bottom: 10px;    
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;    
    transition-duration: 500ms;
    transform: translate(0, 150%);
}
.guesses.loaded{
    transition-duration: 500ms;
    transform: translate(0, 0);
}

.guesses button{
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    /* background: #f8fbdf; */
    background-position: center center;
    background-size: 100% 100%;
    border: 0;
    color: black;
    font-size: large;
    padding: 25px;    
    position: relative;
    height: 110px;
    background-color: transparent;
    font-size: 24px;
}

button img, img.answer{    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}
button img.bg{
    opacity: 0.5;
}


button span{
    position: absolute; 
    z-index: 9999;
    left: 0;    
    margin-top: -8px;
    width: 100%;
    text-align: center;
}

.player{
    /* margin-top: 30px; */
    text-align: center;
    height: 100%;
    width: 100%;
}
video{
    width: 100%;
    height: 100%;    
    max-height: 100%;
    max-width: 100%;
}

.next{
    position: fixed;
    top: 43%;
    right: 40px;
    width: 100px;        
    height: 100px;
    text-align: center;
    background-color: transparent;
    display: none;
}
.next button{
    background-position: center center;
    background-size: 100% 100%;
    border: 0;
    color: black;
    font-size: large;
    padding: 15px;    
    width: 100%;
    height: 100%;
    background-color: transparent;
}
/* 
button.guessed{
    background-color: red;
}

button.guessed.correct{
    background-color: greenyellow;
} */

.success{
    margin-top: 30px;
    text-align: center;
    background-color: greenyellow;
    color: black;
    padding: 10px;
    font-size: large;
}

.timer{
    text-align: center;
    padding: 15px;
    position: absolute;
    color: white;        
    position: fixed;
    font-size: 40px;
    left: 10%;
    top: 20px;
}

.tmp{
    position: fixed; bottom: 0;right: 0;
    cursor: default; color: #aaa; opacity: 0.5;
}

button.lang{
    position: absolute;
    top: 0px;
    right: 0px;
    /* color: white; */
    background: transparent;
    border: 0;
    padding: 30px;
    font-size: 24px;
}

.intro-screen, .score-screen{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background: #813b8e; color: #ffef45;
    font-family: 'Indie Flower', cursive;    
    z-index: 999;
}

.intro-screen h1, .score-screen h2{
    font-size: 40px; text-transform: uppercase;    
    position: absolute; top: 40%; text-align: center;
    width: 100%;
    display: block;
} 
.score-screen h2{
    top: 10%;
}
.scores{
    position: absolute; top:40%; text-align: center; width: 100%; font-style: italic;    
}


.start-game{
    position: absolute; display: block; top:75%; left: calc( 50% - 150px ); width: 300px;    
    height: 80px;
}

.start-game-info{
    position: absolute; top:55%; text-align: center; width: 100%; font-style: italic;    
}

.hidden{display: none;}