body{
    font-family: 'Indie Flower', cursive;
    background: black;
    height: 99vh;
    overflow: hidden;
}
span, i{
    font-family: 'Indie Flower', cursive;
}
button{ outline: 0}
button:active{ outline: 0}

.guesses{
    position: fixed;
    bottom: 10px;    
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.guesses button{
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    /* background: #f8fbdf; */
    background-position: center center;
    background-size: 100% 100%;
    border: 0;
    color: black;
    font-size: large;
    padding: 25px;    
    position: relative;
    height: 110px;
    background-color: transparent;
    font-size: 24px;
}

button img, img.answer{    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}
button img.bg{
    opacity: 0.5;
}


button span{
    position: absolute; 
    z-index: 9999;
    left: 0;    
    margin-top: -10px;
    width: 100%;
    text-align: center;
}

.player{
    /* margin-top: 30px; */
    text-align: center;
    height: 100%;
    width: 100%;
}
video{
    width: 100%;
    height: 100%;    
    max-height: 100%;
    max-width: 100%;
}

.next{
    position: fixed;
    top: 43%;
    right: 40px;
    width: 100px;        
    height: 100px;
    text-align: center;
    background-color: transparent;
}
.next button{
    background-position: center center;
    background-size: 100% 100%;
    border: 0;
    color: black;
    font-size: large;
    padding: 15px;    
    width: 100%;
    height: 100%;
    background-color: transparent;
}
/* 
button.guessed{
    background-color: red;
}

button.guessed.correct{
    background-color: greenyellow;
} */

.success{
    margin-top: 30px;
    text-align: center;
    background-color: greenyellow;
    color: black;
    padding: 10px;
    font-size: large;
}

.timer{
    text-align: center;
    padding: 15px;
    position: fixed;
    color: white;        
    position: fixed;
    font-size: 40px;
    left: 10%;
    top: 20px;
}

.tmp{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: default;    
}

button.lang{
    position: fixed;
    top: 0px;
    right: 0px;
    color: white;
    background: transparent;
    border: 0;
    padding: 30px;
    font-size: 24px;
}